<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reggie.mapper.CategoryMapper">
    <insert id="save" parameterType="com.reggie.entity.Category">
        insert into category
        (type, `name`, sort, create_time, update_time, create_user, update_user)
        values (#{type},
                #{name},
                #{sort},
                #{createTime},
                #{updateTime},
                #{createUser},
                #{updateUser})
    </insert>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(1)
        from category
    </select>
    <select id="getAllWithPagination" parameterType="java.util.Map" resultType="com.reggie.entity.Category">
        select id,
               type,
               `name`,
               sort,
               create_time,
               update_time,
               create_user,
               update_user
        from category
        order by sort asc
        limit #{start}, #{size}
    </select>
    <delete id="delById" parameterType="java.lang.Long">
        delete
        from category
        where id = #{id}
    </delete>
    <update id="updateById" parameterType="com.reggie.entity.Category">
        update category
        set type        = coalesce(#{type}, type),
            `name`      = coalesce(#{name}, `name`),
            sort        = coalesce(#{sort}, sort),
            update_time = coalesce(#{updateTime}, update_time),
            update_user=coalesce(#{updateUser}, update_user)
        where id = #{id}
    </update>
</mapper>