<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reggie.mapper.EmployeeMapper">
    <select id="getEmpByUsername" parameterType="java.lang.String" resultType="com.reggie.entity.Employee">
        select id,
               id,
               `name`,
               username,
               `password`,
               phone,
               sex,
               id_number,
               `status`,
               create_time,
               update_time,
               create_user,
               update_user
        from employee
        where username = #{username}
    </select>
</mapper>