<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reggie.mapper.SetMealMapper">
    <select id="countByCategoryId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(1)
        from setmeal
        where category_id = #{categoryId}
    </select>
</mapper>